<section class="error-area section--padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="section-heading padding-top-35px">
                    <h2 class="sec__title mb-0">برای ادامه فرآیند نیاز به ورود به سایت دارید ! <a href="#"
                            class="theme-btn theme-btn-small" data-toggle="modal" data-target="#loginPopupForm">برای
                            ورود کلیک کنید</a></h2>
                    <p class="sec__desc pt-3">در صورتی که در سایت ثبت نام نکردید، ابتدا ثبت نام کنید. <a href="#"
                            class="mr-1" data-toggle="modal" data-target="#signupPopupForm">برای ثبت نام کلیک کنید.</a>
                    </p>
                </div>
                <div class="btn-box padding-top-30px">
                    <a asp-action="Index" asp-controller="Home" class="theme-btn"><i class="la la-reply mr-1"></i>برو به
                        صفحه اصلی </a>
                </div>
            </div><!-- end col-lg-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>