<section class="error-area section--padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="error-img">

                    <image x="0px" y="0px" height="380px" src="/Theme/images/NotFound.jpg" />

                </div><!-- end error-img-->
                <div class="section-heading padding-top-35px">
                    <h2 class="sec__title mb-0">ای وای! انگار این صفحه وجود نداره</h2>
                    <p class="sec__desc pt-3">متأسفیم، اما به نظر میرسه آدرس وب سایتی که وارد کردی اشتباست <br> یا به
                        طور موقت در دسترس نیست.</p>
                </div>
                <div class="btn-box padding-top-30px">
                    <a href="index.html" class="theme-btn"><i class="la la-reply mr-1"></i>برو به صفحه اصلی </a>
                </div>
            </div><!-- end col-lg-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>