<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="arezohosseini">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trizen - قالب html گردشگری</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Theme/images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap"
        rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="~/Theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Theme/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/Theme/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Theme/css/line-awesome.css">
    <link rel="stylesheet" href="~/Theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Theme/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Theme/css/daterangepicker.css">
    <link rel="stylesheet" href="~/Theme/css/datepicker-theme.css" media="all">
    <link rel="stylesheet" href="~/Theme/css/animate.min.css">
    <link rel="stylesheet" href="~/Theme/css/animated-headline.css">
    <link rel="stylesheet" href="~/Theme/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Theme/css/jquery.filer.css">
    <link rel="stylesheet" href="~/Theme/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Theme/css/style.css">
    <link rel="stylesheet" href="~/Theme/css/style-rtl.css">
    @await RenderSectionAsync("Css", required: false)
</head>

<body class="section-bg">
    <!-- start cssload-loader -->
    <div class="preloader" id="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- end cssload-loader -->

    <!-- ================================
       START USER CANVAS MENU
================================= -->
    <div class="user-canvas-container">
        <div class="side-menu-close">
            <i class="la la-times"></i>
        </div><!-- end menu-toggler -->
        <div class="user-canvas-nav">
            <div class="section-tab section-tab-2 text-center pt-4 pb-3 pl-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="notification-tab" data-toggle="tab" href="#notification"
                            role="tab" aria-controls="notification" aria-selected="false">
                            اطلاعیه ها
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab"
                            aria-controls="message" aria-selected="false">
                            پیام ها
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab"
                            aria-controls="account" aria-selected="true">
                            حساب کاربری
                        </a>
                    </li>
                </ul>
            </div><!-- end section-tab -->
        </div>
        <div class="user-canvas-nav-content">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="notification" role="tabpanel"
                    aria-labelledby="notification-tab">
                    <div class="user-sidebar-item">
                        <div class="notification-item">
                            <div class="list-group drop-reveal-list">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element flex-shrink-0 mr-3 ml-0"><i class="la la-bell"></i>
                                        </div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">درخواست شما ارسال شد</h3>
                                            <p class="msg-text">2 دقیقه قبل</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i
                                                class="la la-check"></i></div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">حساب شما ایجاد شد</h3>
                                            <p class="msg-text">1 روز قبل</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i
                                                class="la la-user"></i></div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">حساب شما آپدیت شد</h3>
                                            <p class="msg-text">2 ساعت قبل</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i
                                                class="la la-lock"></i></div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">رمزعبور شما تغییر کرد</h3>
                                            <p class="msg-text">دیروز</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element bg-5 flex-shrink-0 mr-3 ml-0"><i
                                                class="la la-envelope"></i></div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">ایمیل شما ارسال شد</h3>
                                            <p class="msg-text">دیروز</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="icon-element bg-6 flex-shrink-0 mr-3 ml-0"><i
                                                class="la la-envelope"></i></div>
                                        <div class="msg-content w-100">
                                            <h3 class="title pb-1">ایمیلت رو تغییر دادی</h3>
                                            <p class="msg-text">دیروز</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                            </div>
                        </div><!-- end notification-item -->
                    </div>
                </div>
                <div class="tab-pane fade" id="message" role="tabpanel" aria-labelledby="message-tab">
                    <div class="user-sidebar-item">
                        <div class="notification-item">
                            <div class="list-group drop-reveal-list">
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="avatar flex-shrink-0 mr-3">
                                            <img src="~/Theme/images/team8.jpg" alt="">
                                        </div>
                                        <div class="msg-content w-100">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h3 class="title pb-1">سعید وحدتی</h3>
                                                <span class="msg-text">3 دقیقه قبل</span>
                                            </div>
                                            <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="avatar flex-shrink-0 mr-3">
                                            <img src="~/Theme/images/team9.jpg" alt="">
                                        </div>
                                        <div class="msg-content w-100">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h3 class="title pb-1">مهدی رسولی</h3>
                                                <span class="msg-text">قبل 1 ساعت</span>
                                            </div>
                                            <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="avatar flex-shrink-0 mr-3">
                                            <img src="~/Theme/images/team10.jpg" alt="">
                                        </div>
                                        <div class="msg-content w-100">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h3 class="title pb-1">امید نظری</h3>
                                                <span class="msg-text">2 ساعت قبل</span>
                                            </div>
                                            <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">
                                    <div class="msg-body d-flex align-items-center">
                                        <div class="avatar flex-shrink-0 mr-3">
                                            <img src="~/Theme/images/team11.jpg" alt="">
                                        </div>
                                        <div class="msg-content w-100">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h3 class="title pb-1">کیوان جعفری</h3>
                                                <span class="msg-text">3 ساعت قبل</span>
                                            </div>
                                            <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                            </div>
                        </div><!-- end notification-item -->
                    </div>
                </div>
                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <div class="user-action-wrap user-sidebar-panel">
                        <div class="notification-item">
                            <a href="user-dashboard-profile.html" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="~/Theme/images/team8.jpg"
                                            alt="team-img"></div>
                                    <span class="font-size-14 font-weight-bold">آرزو حسینی</span>
                                </div>
                            </a>
                            <div class="list-group drop-reveal-list user-drop-reveal-list">
                                <a href="user-dashboard-profile.html" class="list-group-item list-group-item-action">
                                    <div class="msg-body">
                                        <div class="msg-content">
                                            <h3 class="title"><i class="la la-user mr-2"></i>پروفایل من</h3>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="user-dashboard-booking.html" class="list-group-item list-group-item-action">
                                    <div class="msg-body">
                                        <div class="msg-content">
                                            <h3 class="title"><i class="la la-shopping-cart mr-2"></i>رزرو های من</h3>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="user-dashboard-reviews.html" class="list-group-item list-group-item-action">
                                    <div class="msg-body">
                                        <div class="msg-content">
                                            <h3 class="title"><i class="la la-heart mr-2"></i>نظرات من</h3>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <a href="user-dashboard-settings.html" class="list-group-item list-group-item-action">
                                    <div class="msg-body">
                                        <div class="msg-content">
                                            <h3 class="title"><i class="la la-gear mr-2"></i>تنظیمات</h3>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                                <div class="section-block"></div>
                                <a href="index.html" class="list-group-item list-group-item-action">
                                    <div class="msg-body">
                                        <div class="msg-content">
                                            <h3 class="title"><i class="la la-power-off mr-2"></i>خروج</h3>
                                        </div>
                                    </div><!-- end msg-body -->
                                </a>
                            </div>
                        </div><!-- end notification-item -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end user-canvas-container -->
    <!-- ================================
       END USER CANVAS MENU
================================= -->

    <!-- ================================
       START DASHBOARD NAV
================================= -->
    <div class="sidebar-nav sidebar--nav">
        <div class="sidebar-nav-body">
            <div class="side-menu-close">
                <i class="la la-times"></i>
            </div><!-- end menu-toggler -->
            <div class="author-content">
                <div class="d-flex align-items-center">
                    <div class="author-img avatar-sm">
                        <img src="~/Theme/images/team9.jpg" alt="testimonial image">
                    </div>
                    <div class="author-bio">
                        <h4 class="author__title">آژانس مسافرتی رویال</h4>
                        <span class="author__meta">به پنل ادمین خوشی اومدی</span>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu-wrap">
                <ul class="sidebar-menu toggle-menu list-items">
                    <li class="page-active"><a href="admin-dashboard.html"><i class="la la-dashboard mr-2"></i>دشبرد</a>
                    </li>
                    <li><a href="admin-dashboard-booking.html"><i
                                class="la la-shopping-cart mr-2 text-color"></i>رزرو</a></li>
                    <li>
                        <span class="side-menu-icon toggle-menu-icon">
                            <i class="la la-angle-down"></i>
                        </span>
                        <a href="admin-dashboard-orders.html"><i class="la la-list mr-2 text-color-2"></i>سفارشات</a>
                        <ul class="toggle-drop-menu">
                            <li><a href="admin-dashboard-orders-details.html">جزئیات سفارش</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="side-menu-icon toggle-menu-icon">
                            <i class="la la-angle-down"></i>
                        </span>
                        <a href="#"><i class="la la-hotel mr-2 text-color-2"></i>مدیریت هتل ها</a>
                        <ul class="toggle-drop-menu">
                            <li><a asp-controller="HotelManagement" asp-action="Index">لیست هتل ها</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="side-menu-icon toggle-menu-icon">
                            <i class="la la-angle-down"></i>
                        </span>
                        <a href="admin-dashboard-travellers.html"><i
                                class="la la-users mr-2 text-color-3"></i>مسافران</a>
                        <ul class="toggle-drop-menu">
                            <li><a href="admin-dashboard-traveler-detail.html">مشخصات مسافر</a></li>
                        </ul>
                    </li>
                    <li><a href="admin-dashboard-visa.html"><i class="la la-plane mr-2 text-color-4"></i>درخواست
                            ویزا</a></li>
                    <li><a href="admin-dashboard-reviews.html"><i class="la la-star mr-2 text-color-5"></i>نظرات</a>
                    </li>
                    <li><a href="admin-dashboard-wishlist.html"><i class="la la-heart mr-2 text-color-6"></i>لیست علاقه
                            مندی ها</a></li>
                    <li><a href="admin-dashboard-travel-agents.html"><i
                                class="la la-text-width mr-2 text-color-7"></i>آژانس های مسافرتی</a></li>
                    <li>
                        <span class="side-menu-icon toggle-menu-icon">
                            <i class="la la-angle-down"></i>
                        </span>
                        <a href="#"><i class="la la-area-chart mr-2 text-color-8"></i>امور مالی</a>
                        <ul class="toggle-drop-menu">
                            <li><a href="admin-invoice.html">صورتحساب</a></li>
                            <li><a href="admin-payments.html">پرداخت ها</a></li>
                            <li><a href="admin-currency-list.html">لیست ارز ها</a></li>
                            <li><a href="admin-dashboard-subscribers.html">مشتركين</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="side-menu-icon toggle-menu-icon">
                            <i class="la la-angle-down"></i>
                        </span>
                        <a href="#"><i class="la la-map-signs mr-2 text-color-9"></i>لوکیشن ها</a>
                        <ul class="toggle-drop-menu">
                            <li><a href="admin-countries.html">کشورها</a></li>
                            <li><a href="admin-airlines.html"> خطوط هوایی</a></li>
                        </ul>
                    </li>
                    <li><a href="admin-dashboard-settings.html"><i class="la la-cog mr-2 text-color-10"></i>تنظیمات</a>
                    </li>
                    <li><a href="index.html"><i class="la la-power-off mr-2 text-color-11"></i>خروج</a></li>
                </ul>
            </div><!-- end sidebar-menu-wrap -->
        </div>
    </div><!-- end sidebar-nav -->
    <!-- ================================
       END DASHBOARD NAV
================================= -->

    <!-- ================================
    START DASHBOARD AREA
================================= -->
    <section class="dashboard-area">
        <div class="dashboard-nav dashboard--nav">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-wrapper">
                            <div class="logo mr-5">
                                <a href="index.html"><img src="~/Theme/images/logo2.png" alt="logo"></a>
                                <div class="menu-toggler">
                                    <i class="la la-bars"></i>
                                    <i class="la la-times"></i>
                                </div><!-- end menu-toggler -->
                                <div class="user-menu-open">
                                    <i class="la la-user"></i>
                                </div><!-- end user-menu-open -->
                            </div>
                            <div class="dashboard-search-box">
                                <div class="contact-form-action">
                                    <form action="#">
                                        <div class="form-group mb-0">
                                            <input class="form-control" type="text" name="text"
                                                placeholder="اینجا بگرد ...">
                                            <button class="search-btn"><i class="la la-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="nav-btn ml-auto">
                                <div class="notification-wrap d-flex align-items-center">
                                    <div class="notification-item mr-2">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle drop-reveal-toggle-icon"
                                                id="notificationDropdownMenu" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="la la-bell"></i>
                                                <span class="noti-count">4</span>
                                            </a>
                                            <div
                                                class="dropdown-menu dropdown-reveal dropdown-menu-xl dropdown-menu-right">
                                                <div class="dropdown-header drop-reveal-header">
                                                    <h6 class="title"><strong class="text-black"> 4 </strong>اطلاعیه
                                                        جدید داری</h6>
                                                </div>
                                                <div class="list-group drop-reveal-list">
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="icon-element flex-shrink-0 mr-3 ml-0"><i
                                                                    class="la la-bell"></i></div>
                                                            <div class="msg-content w-100">
                                                                <h3 class="title pb-1">درخواست شما ارسال شد</h3>
                                                                <p class="msg-text">2 دقیقه قبل</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="icon-element bg-2 flex-shrink-0 mr-3 ml-0"><i
                                                                    class="la la-check"></i></div>
                                                            <div class="msg-content w-100">
                                                                <h3 class="title pb-1">حساب شما ایجاد شد</h3>
                                                                <p class="msg-text">1 روز قبل</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="icon-element bg-3 flex-shrink-0 mr-3 ml-0"><i
                                                                    class="la la-user"></i></div>
                                                            <div class="msg-content w-100">
                                                                <h3 class="title pb-1">حساب شما آپدیت شد</h3>
                                                                <p class="msg-text">2 ساعت قبل</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="icon-element bg-4 flex-shrink-0 mr-3 ml-0"><i
                                                                    class="la la-lock"></i></div>
                                                            <div class="msg-content w-100">
                                                                <h3 class="title pb-1">رمزعبور شما تغییر کرد</h3>
                                                                <p class="msg-text">دیروز</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                </div>
                                                <a href="#" class="dropdown-item drop-reveal-btn text-center">مشاهده
                                                    همه</a>
                                            </div><!-- end dropdown-menu -->
                                        </div>
                                    </div><!-- end notification-item -->
                                    <div class="notification-item mr-2">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle drop-reveal-toggle-icon"
                                                id="messageDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="la la-envelope"></i>
                                                <span class="noti-count">4</span>
                                            </a>
                                            <div
                                                class="dropdown-menu dropdown-reveal dropdown-menu-xl dropdown-menu-right">
                                                <div class="dropdown-header drop-reveal-header">
                                                    <h6 class="title"><strong class="text-black"> 4 </strong> پیام جدید
                                                        داری</h6>
                                                </div>
                                                <div class="list-group drop-reveal-list">
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="avatar flex-shrink-0 mr-3">
                                                                <img src="~/Theme/images/team8.jpg" alt="">
                                                            </div>
                                                            <div class="msg-content w-100">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h3 class="title pb-1">سعید وحدتی</h3>
                                                                    <span class="msg-text">3 دقیقه قبل</span>
                                                                </div>
                                                                <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="avatar flex-shrink-0 mr-3">
                                                                <img src="~/Theme/images/team9.jpg" alt="">
                                                            </div>
                                                            <div class="msg-content w-100">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h3 class="title pb-1">مهدی رسولی</h3>
                                                                    <span class="msg-text">قبل 1 ساعت</span>
                                                                </div>
                                                                <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="avatar flex-shrink-0 mr-3">
                                                                <img src="~/Theme/images/team10.jpg" alt="">
                                                            </div>
                                                            <div class="msg-content w-100">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h3 class="title pb-1">امید نظری</h3>
                                                                    <span class="msg-text">2 ساعت قبل</span>
                                                                </div>
                                                                <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body d-flex align-items-center">
                                                            <div class="avatar flex-shrink-0 mr-3">
                                                                <img src="~/Theme/images/team11.jpg" alt="">
                                                            </div>
                                                            <div class="msg-content w-100">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <h3 class="title pb-1">کیوان جعفری</h3>
                                                                    <span class="msg-text">3 ساعت قبل</span>
                                                                </div>
                                                                <p class="msg-text">نیازی به خدمتکار ویژه نیست</p>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                </div>
                                                <a href="#" class="dropdown-item drop-reveal-btn text-center">مشاهده
                                                    همه</a>
                                            </div><!-- end dropdown-menu -->
                                        </div>
                                    </div><!-- end notification-item -->
                                    <div class="notification-item">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" id="userDropdownMenu"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="d-flex align-items-center">
                                                    <div class="avatar avatar-sm flex-shrink-0 mr-2"><img
                                                            src="~/Theme/images/team8.jpg" alt="team-img"></div>
                                                    <span class="font-size-14 font-weight-bold">ادمین رویال</span>
                                                </div>
                                            </a>
                                            <div
                                                class="dropdown-menu dropdown-reveal dropdown-menu-md dropdown-menu-right">
                                                <div class="dropdown-item drop-reveal-header user-reveal-header">
                                                    <h6 class="title text-uppercase">خوش اومدی!</h6>
                                                </div>
                                                <div class="list-group drop-reveal-list user-drop-reveal-list">
                                                    <a href="admin-dashboard-settings.html"
                                                        class="list-group-item list-group-item-action">
                                                        <div class="msg-body">
                                                            <div class="msg-content">
                                                                <h3 class="title"><i class="la la-user mr-2"></i>ویرایش
                                                                    پروفایل</h3>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="admin-dashboard-orders.html"
                                                        class="list-group-item list-group-item-action">
                                                        <div class="msg-body">
                                                            <div class="msg-content">
                                                                <h3 class="title"><i
                                                                        class="la la-shopping-cart mr-2"></i>سفارشات
                                                                </h3>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="msg-body">
                                                            <div class="msg-content">
                                                                <h3 class="title"><i class="la la-bell mr-2"></i>پیام ها
                                                                </h3>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <a href="admin-dashboard-settings.html"
                                                        class="list-group-item list-group-item-action">
                                                        <div class="msg-body">
                                                            <div class="msg-content">
                                                                <h3 class="title"><i class="la la-gear mr-2"></i>تنظیمات
                                                                </h3>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                    <div class="section-block"></div>
                                                    <a href="index.html" class="list-group-item list-group-item-action">
                                                        <div class="msg-body">
                                                            <div class="msg-content">
                                                                <h3 class="title"><i
                                                                        class="la la-power-off mr-2"></i>خروج</h3>
                                                            </div>
                                                        </div><!-- end msg-body -->
                                                    </a>
                                                </div>
                                            </div><!-- end dropdown-menu -->
                                        </div>
                                    </div><!-- end notification-item -->
                                </div>
                            </div><!-- end nav-btn -->
                        </div><!-- end menu-wrapper -->
                    </div><!-- end col-lg-12 -->
                </div><!-- end row -->
            </div><!-- end container-fluid -->
        </div><!-- end dashboard-nav -->
        <div class="dashboard-content-wrap">
            @RenderBody()
        </div><!-- end dashboard-content-wrap -->
    </section><!-- end dashboard-area -->
    <!-- ================================
    END DASHBOARD AREA
================================= -->
    <!-- start scroll top -->
    <div id="back-to-top">
        <i class="la la-angle-up" title="برو بالا"></i>
    </div>
    <!-- end scroll top -->

    <!-- Template JS Files -->
    <script src="~/Theme/js/jquery-3.4.1.min.js"></script>
    <script src="~/Theme/js/jquery-ui.js"></script>
    <script src="~/Theme/js/popper.min.js"></script>
    <script src="~/Theme/js/bootstrap.min.js"></script>
    <script src="~/Theme/js/bootstrap-select.min.js"></script>
    <script src="~/Theme/js/moment.min.js"></script>
    <script src="~/Theme/js/moment-jalaali.js"></script>
    <script src="~/Theme/js/daterangepicker-fa-ex.js"></script>
    <script src="~/Theme/js/owl.carousel.min.js"></script>
    <script src="~/Theme/js/jquery.fancybox.min.js"></script>
    <script src="~/Theme/js/jquery.countTo.min.js"></script>
    <script src="~/Theme/js/animated-headline.js"></script>
    <script src="~/Theme/js/jquery.sparkline.js"></script>

    @* <script src="~/js/site.js"></script> *@
    <script src="~/Theme/js/chart.js"></script>
    <script src="~/Theme/js/chart.extension.js"></script>
    @* <script src="~/Theme/js/bar-chart.js"></script> *@
    <script src="~/Theme/js/line-chart.js"></script>
    <script src="~/Theme/js/jquery.filer.min.js"></script>
    <script src="~/Theme/js/jquery.ripples-min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Theme/js/main-rtl.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>